/* The radio */
.radio {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkround {
      background-color: #fff;
      &::after {
        display: block;
      }
    }
  }
}

/* Create a custom radio button */
.checkround {
  position: absolute;
  top: 0px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #fff;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 50%;
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

/* Style the indicator (dot/circle) */
.radio .checkround:after {
  transform: translate(50%, 50%);
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: $primary-colour;
}

/* The check */
.check {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  padding-right: 15px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    &:checked ~ .checkmark {
      background-color: #fff;
    }
  }
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 3px;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #fff;
  border-color: #101a5c;
  border-style: solid;
  border-width: 1px;
  &::after {
    content: "";
    position: absolute;
    display: none;
  }
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 3px;
  top: -1px;
  width: 5px;
  height: 9px;
  border: solid;
  border-color: #101a5c;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}