.drop-zone {
  border: dotted 2px #d3d3d3;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  position: relative;
}
.card-preview {
  position: relative;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: inline-block;
  margin: 10px;
  &.node-preview{
    height: 50px;
  width: 50px;
  }
  img {
    position: relative;
    height: inherit;
    width: inherit;
    object-fit: cover;
    padding: 5px;
    height: 150px;
    width: 200px;
  }
  .card-content{
    padding: 10px;
  }
  .remove-media {
    position: absolute;
    z-index: 1;
    right: -10px;
    top: -15px;
    font-size: 25px;
    border: 1px solid #ccc;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    text-align: center;
    background-color: white;
    .cross {
      position: relative;
      top: -6px;
    }
  }
}
.nv-file-over {
  border: dotted 2px black;
}

.preview-container {
  background-color: #e9ecef;
  padding: 10px;
}
.header-type{
  border-top-left-radius: 4px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 4px;
  padding: 0 20px;
}

.action-type {
  width: 180px;
  border-radius: 4px;
}

.button-action{
width: 400px;
}
.w-40{
  width: 40%;
}
.mr-20{
  margin-right: 20px;
}
.section{
  background-color: #e9ecef;
}

.intent-dropdown{
  min-height: 34px;
    top: -5px;
    border-radius: 4px;
    .header-type {
      width: 100%;
    }
}