<div class="modal-header">
  <h4 class="modal-title">Interactive Node</h4>
  <span type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span class="fs-2" aria-hidden="true">&times;</span>
  </span>
</div>
<form #buttonForm="ngForm">
  <div class="modal-body d-flex">
    <div class="form-container w-75 pr-4 ml-4">
      <!-- node name -->
      <div class="form-group mb-3" [class.error]="node_name?.invalid && submitAttempt">
        <label class="form-label very-small">Node name</label>
        <input ngbAutofocus type="text" class="form-control w-50" name="name" aria-describedby="nameHelp" #node_name="ngModel"
          [(ngModel)]="interactiveNode.node_name" required>
        <div id="nameHelp" class="tiny mt-1">This is for your reference</div>
        <div *ngIf="node_name?.invalid && submitAttempt" class="text-danger small">
          <div *ngIf="node_name.errors.required">
            Node Name is required
          </div>
        </div>
      </div>
      <!-- button/list -->
      <div class="form-group d-inline">
        <label class="form-check-label mb-3 radio d-inline mr-20">
          <input class="form-check-input me-2" type="radio" name="remember" value="button"
            [(ngModel)]="interactiveNode.response.type" (ngModelChange)="changeMsgType()">
          Buttons
          <span class="checkround"></span>
        </label>
        <label class="form-check-label mb-3 radio d-inline">
          <input class="form-check-input me-2" type="radio" name="remember" value="list"
            [(ngModel)]="interactiveNode.response.type" (ngModelChange)="changeMsgType()">
          List
          <span class="checkround"></span>
        </label>
      </div>
      <!-- header -->
      <div class="form-group mt-3">
        <label class="form-label very-small">Header (Optional)</label>
        <div class="input-group">
          <div class="dropdown header-type" ngbDropdown>
            <div class="d-flex align-items-center h-100 pointer" aria-expanded="false" ngbDropdownToggle>
              <span class="d-none d-sm-inline mx-1 uppercase">{{interactiveNode.response.header?.type}}</span>
            </div>
            <ul class="dropdown-menu text-small shadow" ngbDropdownMenu>
              <li *ngFor="let type of supportedHeaders">
                <a class="dropdown-item uppercase" (click)="changeMediaType(type)" ngbDropdownItem>{{type}}</a>
              </li>
            </ul>
          </div>
          <input type="text" class="form-control" name="url" #headerText="ngModel"
            [(ngModel)]="interactiveNode.response.header.text" placeholder="Add header text or media url">
        </div>
      </div>
      <!-- body -->
      <div class="form-group" [class.error]="quill_editor?.invalid && submitAttempt">
        <label class="form-label very-small">Body</label>
        <quill-editor [(ngModel)]="interactiveNode.response.body.text" placeholder="Enter Text" name="quill" ngDefaultControl
          [modules]="quillConfig" #quill_editor="ngModel" required>
        </quill-editor>
        <div *ngIf="quill_editor?.invalid && submitAttempt" class="text-danger small">
          <div *ngIf="quill_editor.errors.required">
            Enter some text to be shown
          </div>
        </div>
      </div>
      <!-- footer -->
      <div class="form-group">
        <label class="form-label very-small">Footer (Optional)</label>
        <input type="text" class="form-control" name="btnName" #btn_name="ngModel"
          [(ngModel)]="interactiveNode.response.footer.text">
      </div>
      <!-- buttons details -->
      <div class="form-group" *ngIf="interactiveNode.response.type === 'button'">
        <label class="form-label very-small">Button Details</label>
        <p>Create upto 3 buttons</p>
        <div class="d-flex mb-2" *ngFor="let buttons of interactiveNode.response.action.buttons; let i=index">
          <!-- <div class="dropdown header-type action-type" ngbDropdown>
            <div class="d-flex align-items-center h-100 pointer" aria-expanded="false" ngbDropdownToggle>
              <span class="d-none d-sm-inline mx-1">{{buttons.actionType.label}}</span>
            </div>
            <ul class="dropdown-menu text-small shadow" ngbDropdownMenu>
              <li *ngFor="let type of interactiveOptions">
                <a class="dropdown-item" (click)="changeButtonActionType(type, i)" ngbDropdownItem>{{type.label}}</a>
              </li>
            </ul>
          </div> -->
          <div class="button-text">
            <input type="text" class="form-control" name="btn_name_{{i}}" #btnName="ngModel" [(ngModel)]="buttons.title"
              placeholder="Add button text">
          </div>
          <!-- <div class="button-action" *ngIf="buttons.actionType.type === 'url'">
            <input type="text" class="form-control" name="btn_url{{i}}" #btnUrl="ngModel" [(ngModel)]="buttons.actionValue"
              placeholder="Add website url">
          </div>
          <div class="button-action" *ngIf="buttons.actionType.type === 'call'">
            <input type="text" class="form-control" name="btn_url{{i}}" #btnUrl="ngModel" [(ngModel)]="buttons.actionValue"
              placeholder="Add phone number">
          </div> -->

        </div>

      </div>
      <!-- list details -->
      <div class="form-group" *ngIf="interactiveNode.response.type === 'list'">
        <p>Create upto 10 list items (max 10 sections and max 10 rows across all sections)</p>
        <div class="section p-3 mb-2" *ngFor="let section of interactiveNode.response.action.sections; let sectionIndex=index">
          <div class="form-group">
            <label class="form-label very-small">Section title
              <i class="pointer" (click)="addNewRow('section')" class="fs-6 bi-plus"></i>
            </label>
            <input type="text" class="form-control w-50" name="sectionTitle{{sectionIndex}}" #section_title="ngModel"
              [(ngModel)]="section.title">
          </div>
          <div class="d-flex align-items-end" *ngFor="let row of section.rows; let i=index; let last=last">
            <div class="form-group w-40">
              <label class="form-label very-small">Row Title</label>
              <input type="text" class="form-control" name="rowTitle{{sectionIndex}}{{i}}" #row_title="ngModel"
                [(ngModel)]="row.title">
            </div>
            <div class="form-group w-40 px-3">
              <label class="form-label very-small">Row Description</label>
              <input type="text" class="form-control" name="rowDesc{{sectionIndex}}{{i}}" #row_desc="ngModel"
                [(ngModel)]="row.description">
            </div>
            <button *ngIf="last && row.title !== ''" type="button" class="btn btn-outline-dark ml-auto"
              (click)="addNewRow('section_row', sectionIndex)">
              <i class="fs-6 bi-plus"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="w-50 d-inline-block">
          <label class="form-label very-small">Previous node</label>
          <node-select [currentNodeName]="interactiveNode.node_name" [nodeId]="interactiveNode.previous_node_id"
            [nodeName]="interactiveNode.previous_node_name" (onNextNodeSelect)="onPreviousNodeSelect($event)"
            (isNextNodeValid)="isPreviousNodeValid($event)"></node-select>
        </div>
        <div class="w-50 d-inline-block ps-3">
          <div class="form-group mb-3" *ngIf="!previousNode || previousNode.type === 'text'">
            <label class="form-label very-small">Intent</label>
            <input type="text" class="form-control" name="intent" #nodeIntent="ngModel" [(ngModel)]="interactiveNode.intent"
              [disbaled]="intentDisabled">
          </div>
          <div *ngIf="previousNode && previousNode.type === 'interactive'">
            <label class="form-label very-small">Intent</label>
            <div class="input-group intent-dropdown">
              <div class="dropdown header-type" ngbDropdown>
                <div class="d-flex align-items-center h-100 pointer" aria-expanded="false" ngbDropdownToggle>
                  <span class="d-inline mx-1">{{interactiveNode.intent}}</span>
                </div>
                <ul class="dropdown-menu text-small shadow" ngbDropdownMenu>
                  <li *ngFor="let intent of availableIntents">
                    <a class="dropdown-item" (click)="changeIntent(intent)" ngbDropdownItem>{{intent.title}}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="preview-container w-25 border-start min-h-100 ml-4">
      <p class="text-center">Preview</p>
      <div class="node">
        <p *ngIf="interactiveNode.response.header?.type === 'text'">{{interactiveNode.response.header?.text}}</p>
        <img *ngIf="interactiveNode.response.header?.type === 'image'" class="tiny" [src]="interactiveNode.response.header?.text"
          alt="No preview">
        <video *ngIf="interactiveNode.response.header?.type === 'video'" [src]="interactiveNode.response.header?.text"
          alt="No preview"></video>
        <iframe *ngIf="interactiveNode.response.header?.type === 'document'"
          [src]="createPdfPreviewUrl(interactiveNode.response.header?.text)" alt="No preview"></iframe>
        <div *ngIf="interactiveNode.response.body.text" [innerHTML]="interactiveNode.response.body.text"></div>
        <div *ngIf="interactiveNode.response.footer.text" [innerHTML]="interactiveNode.response.footer.text"></div>
        <div *ngIf="interactiveNode.response.type === 'list'">
          <div *ngFor="let section of interactiveNode.response.action.sections; let sectionIndex=index">
            <span>{{section.title}}</span>
            <ul class="preview-list">
              <li class="item" *ngFor="let row of section.rows; let i=index; let last=last">
                <span class="small">{{row.title}}</span><br>
                <span class="very-small">{{row.description}}</span>
              </li>
            </ul>
          </div>
        </div>
        <div *ngIf="interactiveNode.response.type === 'button'">
          <div *ngFor="let button of interactiveNode.response.action.buttons; let i=index">
            <button *ngIf="button.title" type="button" class="btn btn-sm btn-outline-dark m-2">{{button.title}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
    <button type="button" class="btn btn-primary" (click)="submitAttempt=true; buttonForm.valid && onSaveNode()">Save</button>
  </div>
</form>
