<div class="modal-header">
  <h4 class="modal-title">{{botDetails?.id ? 'Edit Bot': 'New Bot'}}</h4>
  <span type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span class="fs-2" aria-hidden="true">&times;</span>
  </span>
</div>
<form #textForm="ngForm">
  <div class="modal-body">
    <div class="form-group" [class.error]="node_name?.invalid && submitAttempt">
      <label class="form-label small">Enter bot name here</label>
      <input ngbAutofocus type="text" class="form-control w-50" name="name" #node_name="ngModel" [(ngModel)]="botName" required>
      <div *ngIf="node_name?.invalid && submitAttempt" class="text-danger small">
        <div *ngIf="node_name.errors.required">
          Bot Name is required
        </div>
      </div>
    </div>
    <div class="form-group">
      <label class="form-label small">Enter bot description here</label>
      <textarea type="text" class="form-control" name="description" #node_desc="ngModel" [(ngModel)]="botDesc"></textarea>
    </div>
    <!-- <div class="form-group" *ngIf="!previewPath; else showImage">
      <label class="form-label small">Add a bot image</label>
      <div ng2FileDrop accept=".jpeg,.jpg,.png" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
         [uploader]="uploader" class="drop-zone">
        <span class="small"> Drop a file here to upload<br>
          File types allowed are .jpeg,.jpg,.png</span>
      </div>
      <div class="or text-center">OR</div>
      <input type="file" accept=".jpeg,.jpg,.png" ng2FileSelect [uploader]="uploader" />
    </div> -->
    <ng-template #showImage>
      <div *ngIf="previewPath" class="media-preview">
        <span class="remove-media pointer" (click)="removeMedia()"><span class="cross">&times;</span></span>
        <img [src]="previewPath" alt="bot image">
      </div>
    </ng-template>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
    <button type="button" class="btn btn-primary" (click)="submitAttempt=true; textForm.valid && onSaveBot()">
      <span *ngIf="!buttonLoader">Save</span>
      <div  *ngIf="buttonLoader" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </button>
  </div>
</form>
