<div class="modal-header">
  <h4 class="modal-title">Text Node</h4>
  <span type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span class="fs-2" aria-hidden="true">&times;</span>
  </span>
</div>
<form #buttonForm="ngForm">
  <div class="modal-body">
    <nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
      <ng-container ngbNavItem>
        <a ngbNavLink>Details</a>
        <ng-template ngbNavContent>
          <div class="form-group" [class.error]="node_name?.invalid && submitAttempt">
            <label class="form-label small">Enter node name here</label>
            <input ngbAutofocus type="text" class="form-control w-50" name="name" aria-describedby="nameHelp" #node_name="ngModel"
              [(ngModel)]="nodeName" required>
            <div id="nameHelp" class="tiny mt-1">This is for your reference</div>
            <div *ngIf="node_name?.invalid && submitAttempt" class="text-danger small">
              <div *ngIf="node_name.errors.required">
                Node Name is required
              </div>
            </div>
          </div>
          <div class="wrapper mt-4">
            <div *ngIf="buttonEdit" class="form-group" [class.error]="btn_name?.invalid && submitAttempt">
              <label class="form-label small">Enter bot response here (button text)</label>
              <input type="text" class="form-control w-50" name="btnName" aria-describedby="btnHelp" #btn_name="ngModel"
                [(ngModel)]="buttonText" required>
              <div *ngIf="btn_name?.invalid && submitAttempt" class="text-danger small">
                <div id="btnHelp" *ngIf="btn_name.errors.required">
                  Button Name is required
                </div>
              </div>
              <div class="tiny mt-1">This will be shown to the user</div>
            </div>
            <div *ngIf="!buttonEdit">
              <ng-container *ngFor="let btn of buttonList; let i=index">
                <button type="button" class="btn btn-primary mr-8" (click)="editButton(btn)">{{btn.buttonText}}</button>
              </ng-container>
              <div class="add-new ml-8 d-inline-block">
                <button type="button" class="btn btn-outline-dark" (click)="addNewButton()"> <i class="fs-6 bi-plus"></i></button>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Actions</a>
        <ng-template ngbNavContent>
          <div class="w-50" *ngFor="let node of nextNodes; let i=index">
            <label class="form-label small">Select next node for:</label>
            <button type="button" class="btn btn-primary cursor-auto mb-1 d-block">{{buttonList[i].buttonText}}</button>
            <node-select [currentNodeName]="nodeName" [selectedNodeId]="node.nextNodeName"
              (onNextNodeSelect)="onNextNodeSelect($event); setNodeNext(node)"
              (isNextNodeValid)="isNextNodeValid($event); setNodeValidity(node)"></node-select>
            <div class="tiny mt-1">This node will be executed when user clicks on current button</div>
            <div class="form-group">
              <label class="form-label small">External Url</label>
              <input type="url" class="form-control" name="external" aria-describedby="linkHelp" #external_url="ngModel"
                [(ngModel)]="node.externalUrl">
              <div id="linkHelp" class="tiny mt-1">This url will open on click of button</div>
            </div>
          </div>
          <div class="form-group mt-2">
            <label class="check mb-1">
              <input type="checkbox" name="user_input" #user_input="ngModel" [(ngModel)]="expectsUserInput">
              <span class="small">Expect user input</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group mt-2">
            <label class="check mb-1">
              <input type="checkbox" name="show_typing" #show_typing="ngModel" [(ngModel)]="isShowTyping">
              <span class="small">Show "Typing..."</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group custom-slider mt-2 mx-4" *ngIf="isShowTyping">
            <ngx-slider [(value)]="sliderValue" [options]="sliderOptions"></ngx-slider>
          </div>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
    <button *ngIf="buttonEdit" type="button" class="btn btn-primary"
      (click)="submitAttempt=true; buttonForm.valid && onSaveButton()">Add Button</button>
    <button *ngIf="!buttonEdit" type="button" class="btn btn-primary"
      (click)="submitAttempt=true; buttonForm.valid && onSaveNode()">Save</button>
  </div>
</form>
