<div class="modal-header">
  <h4 class="modal-title">{{mediaTypeMap[mediaType].name}} Node</h4>
  <span type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span class="fs-2" aria-hidden="true">&times;</span>
  </span>
</div>
<form #buttonForm="ngForm">
  <div class="modal-body d-flex">
    <div class="form-container w-75 pr-4 ml-4">
      <div class="form-group" [class.error]="node_name?.invalid && submitAttempt">
        <label class="form-label very-small">Node Name</label>
        <input ngbAutofocus type="text" class="form-control w-50" name="name" aria-describedby="nameHelp" #node_name="ngModel"
          [(ngModel)]="mediaNode.node_name" required>
        <div id="nameHelp" class="tiny mt-1">This is for your reference</div>
        <div *ngIf="node_name?.invalid && submitAttempt" class="text-danger small">
          <div *ngIf="node_name.errors.required">
            Node Name is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="d-flex align-items-end" *ngFor="let media of mediaNode.response[mediaType]; let i=index; let last=last">
          <div class="form-group w-40">
            <label class="form-label very-small">Url</label>
            <input type="text" class="form-control" name="mediaurl{{i}}" #media_url="ngModel" [(ngModel)]="media.link">
          </div>
          <div class="form-group w-40 px-3">
            <label class="form-label very-small">Caption (Optional)</label>
            <input type="text" class="form-control" name="caption{{i}}" #media_caption="ngModel" [(ngModel)]="media.caption">
          </div>
          <button *ngIf="last && media.link !== ''" type="button" class="btn btn-outline-dark ml-auto" (click)="addNewRow()">
            <i class="fs-6 bi-plus"></i>
          </button>
        </div>
      </div>
      <div class="form-group">
        <div class="w-50 d-inline-block">
          <label class="form-label very-small">Previous node</label>
          <node-select [currentNodeName]="mediaNode.node_name" [nodeId]="mediaNode.previous_node_id"
            [nodeName]="mediaNode.previous_node_name" (onNextNodeSelect)="onNextNodeSelect($event)"
            (isNextNodeValid)="isNextNodeValid($event)"></node-select>
        </div>
        <div class="w-50 d-inline-block ps-3">
          <div class="form-group mb-3">
            <label class="form-label very-small">Intent</label>
            <input *ngIf="!previousNode || previousNode.type === 'text'" type="text" class="form-control" name="intent"
              #nodeIntent="ngModel" [(ngModel)]="mediaNode.intent" [disabled]="intentDisabled">

            <div *ngIf="previousNode && previousNode.type === 'interactive'">
              <div class="input-group intent-dropdown">
                <div class="dropdown header-type" ngbDropdown>
                  <div class="d-flex align-items-center h-100 pointer" aria-expanded="false" ngbDropdownToggle>
                    <span class="d-inline mx-1">{{mediaNode.intent}}</span>
                  </div>
                  <ul class="dropdown-menu text-small shadow" ngbDropdownMenu>
                    <li *ngFor="let intent of availableIntents">
                      <a class="dropdown-item" (click)="changeIntent(intent)" ngbDropdownItem>{{intent.title}}</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="preview-container w-25 border-start min-h-100 ml-4">
      <p class="text-center">Preview</p>
      <div class="d-flex flex-wrap justify-content-center">
        <ng-container *ngFor="let media of mediaNode.response[mediaType]; let i=index">
          <div class="media-preview" *ngIf="media.link">
            <img *ngIf="mediaType === 'image'" class="tiny" [src]="media.link" alt="No preview">
            <video *ngIf="mediaType === 'video'" [src]="media.link" alt="No preview"></video>
            <iframe *ngIf="mediaType === 'document'" [src]="createPdfPreviewUrl(media.link)" alt="No preview"></iframe>
            <span class="tiny">{{media.caption}}</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
    <button type="button" class="btn btn-primary" (click)="submitAttempt=true; buttonForm.valid && onSaveNode()">Save</button>
  </div>
</form>
