<div class="modal-header">
  <h4 class="modal-title">{{mediaTypeMap[mediaType].name}} Node</h4>
  <span type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span class="fs-2" aria-hidden="true">&times;</span>
  </span>
</div>
<form #buttonForm="ngForm">
  <div class="modal-body">
    <nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
      <ng-container ngbNavItem>
        <a ngbNavLink>Details</a>
        <ng-template ngbNavContent>
          <div class="form-group" [class.error]="node_name?.invalid && submitAttempt">
            <label class="form-label small">Enter node name here</label>
            <input ngbAutofocus type="text" class="form-control w-50" name="name" aria-describedby="nameHelp" #node_name="ngModel"
              [(ngModel)]="nodeName" required>
            <div id="nameHelp" class="tiny mt-1">This is for your reference</div>
            <div *ngIf="node_name?.invalid && submitAttempt" class="text-danger small">
              <div *ngIf="node_name.errors.required">
                Node Name is required
              </div>
            </div>
          </div>
          <div class="wrapper mt-4">
            <div *ngIf="mediaEdit && !previewPath" class="form-group" [class.error]="btn_name?.invalid && submitAttempt">
              <label class="form-label small">Enter bot response here ({{mediaTypeMap[mediaType].name}})</label>
              <div ng2FileDrop [accept]="mediaTypeMap[mediaType].accept" [ngClass]="{'nv-file-over': hasBaseDropZoneOver}"
                (fileOver)="fileOverBase($event)" (onFileDrop)="dropped($event)" [uploader]="uploader" class="drop-zone">
                <span class="small"> Drop a file here to upload<br>
                  File types allowed are {{mediaTypeMap[mediaType].accept}}</span>
              </div>
              <div class="or text-center">OR</div>
              <input type="file" [accept]="mediaTypeMap[mediaType].accept" ng2FileSelect [uploader]="uploader" />
              <div *ngIf="btn_name?.invalid && submitAttempt" class="text-danger small">
                <div id="btnHelp" *ngIf="btn_name.errors.required">
                  {{mediaTypeMap[mediaType].name}} Name is required
                </div>
              </div>
              <div class="tiny mt-1">This will be shown to the user</div>
            </div>
            <div *ngIf="mediaEdit && previewPath" class="media-preview">
              <span class="remove-media pointer" (click)="removeMedia()"><span class="cross">&times;</span></span>
              <img *ngIf="mediaType === 'image'" [src]="previewPath" alt="bot response image">
              <video *ngIf="mediaType === 'video'" [src]="previewPath" alt="bot response image"></video>
              <iframe *ngIf="mediaType === 'document'" [src]="previewPath" alt="bot response image"></iframe>
            </div>
            <div *ngIf="!mediaEdit">
              <ng-container *ngFor="let media of mediaList; let i=index">
                <div class="media-preview">
                  <span class="remove-media pointer" (click)="removeMedia(media.mediaId)"><span
                      class="cross">&times;</span></span>
                  <img [src]="media.previewUrl" alt="bot response image">
                </div>
              </ng-container>
              <div class="add-new ml-8 d-inline-block">
                <button type="button" class="btn btn-outline-dark" (click)="addNewFile()"> <i class="fs-6 bi-plus"></i></button>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Actions</a>
        <ng-template ngbNavContent>
          <div class="w-50">
            <label class="form-label small">Select next node for:</label>
            <node-select [currentNodeName]="nodeName" [selectedNodeId]="nextNode.nextNodeName"
              (onNextNodeSelect)="onNextNodeSelect($event); setNodeNext(nextNode)"
              (isNextNodeValid)="isNextNodeValid($event); setNodeValidity(nextNode)"></node-select>
            <div class="tiny mt-1">This node will be executed when user clicks on current button</div>
          </div>
          <div class="form-group mt-2">
            <label class="check mb-1">
              <input type="checkbox" name="user_input" #user_input="ngModel" [(ngModel)]="expectsUserInput">
              <span class="small">Expect user input</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group mt-2">
            <label class="check mb-1">
              <input type="checkbox" name="show_typing" #show_typing="ngModel" [(ngModel)]="isShowTyping">
              <span class="small">Show "Typing..."</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group custom-slider mt-2 mx-4" *ngIf="isShowTyping">
            <ngx-slider [(value)]="sliderValue" [options]="sliderOptions"></ngx-slider>
          </div>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
    <button *ngIf="mediaEdit" type="button" class="btn btn-primary"
      (click)="submitAttempt=true; buttonForm.valid && onSaveMedia()">Add {{mediaTypeMap[mediaType].name}}</button>
    <button *ngIf="!mediaEdit" type="button" class="btn btn-primary"
      (click)="submitAttempt=true; buttonForm.valid && onSaveNode()">Save</button>
  </div>
</form>
