.media-preview {
  height: 70px;
  min-height: 70px;
  width: 70px;
  position: relative;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 10px 2px;
  
  &.node-preview {
    height: 50px;
    width: 50px;
  }
  img,
  video,
  iframe {
    position: relative;
    height: inherit;
    min-height: inherit;
    width: inherit;
    object-fit: contain;
  }
}

.preview-container {
  background-color: #e9ecef;
  padding: 10px;
  .node {
    background-color: white;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
}
