$header-height: 60px;
.nav-link {
  color: white;
  margin: 3px;
  padding: 10px;
  margin-left: 15px;
}
.nav-item {
  border-bottom: 1px solid #444;
  display: block;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #444;
  }
   &.active {
    background-color: rgb(80, 79, 79);
  }
}
.bot-card {
  height: 300px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  .bot-image {
    align-self: center;
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    .card-actions {
      .action {
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 6px;
        width: 25%;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
.table > :not(:first-child) {
  border-top: 1px solid currentColor;
}

.channel-card {
  width: 300px;
  align-items: center;
  img {
    height: 100px;
    width: 100px;
  }
}

.header {
  height: $header-height;
  border-bottom: 1px solid #ccc;
}

.sidebar{
  width: 180px;
  padding: 0;
  min-height: 100vh;
  color: white;
}

.configuration {
  min-height: calc(100vh - #{$header-height});
}