.nav-link {
  color: black;
  margin: 3px;
  padding: 10px;
  font-size: 14px;
  margin-left: 15px;
}
.nav-item {
  border-bottom: 1px solid #e9ecef;
  display: block;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #e9ecef;
  }
}
.bot-card {
  height: 300px;
  width: 200px;
  margin: 10px;
  padding: 10px;
  .bot-image {
    align-self: center;
    img {
      height: 60px;
      width: 60px;
      border-radius: 50%;
    }
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    .card-actions {
      .action {
        border-top: 1px solid #ccc;
        border-right: 1px solid #ccc;
        padding: 6px;
        width: 25%;
        text-align: center;
        cursor: pointer;
      }
    }
  }
}
.table > :not(:first-child) {
  border-top: 1px solid currentColor;
}
