@import "../../../../assets/scss/variables";

.nav-link {
  color: $body-color;
}
.custom-slider {
  .ngx-slider {
    .ngx-slider-pointer {
      background-color: $body-color;
      transform: scale(0.6) !important;
      &.ngx-slider-active:after {
        background-color: white;
      }
    }
    .ngx-slider-inner-tooltip {
      font-size: 12px;
    }
  }
}

.intent-dropdown {
  min-height: 34px;
  border-radius: 4px;
  top: -4px;
  .header-type {
    width: 100%;
    border-top-left-radius: 4px;
    border: 1px solid #ccc;
    border-bottom-left-radius: 4px;
    padding: 0 20px;
  }
}
