<div class="modal-header">
  <h4 class="modal-title">Text Node</h4>
  <span type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('close')">
    <span class="fs-2" aria-hidden="true">&times;</span>
  </span>
</div>
<form #textForm="ngForm">
  <div class="modal-body">
    <nav ngbNav #nav="ngbNav" class="nav-tabs" [destroyOnHide]="false">
      <ng-container ngbNavItem>
        <a ngbNavLink>Details</a>
        <ng-template ngbNavContent>
          <div class="form-group" [class.error]="node_name?.invalid && submitAttempt">
            <label class="form-label small">Enter node name here</label>
            <input ngbAutofocus type="text" class="form-control w-50" name="name" aria-describedby="nameHelp" #node_name="ngModel"
              [(ngModel)]="nodeName" required>
            <div id="nameHelp" class="tiny mt-1">This is for your reference</div>
            <div *ngIf="node_name?.invalid && submitAttempt" class="text-danger small">
              <div *ngIf="node_name.errors.required">
                Node Name is required
              </div>
            </div>
          </div>
          <div class="editor mt-4">
            <div class="form-group" [class.error]="quill_editor?.invalid && submitAttempt">
              <label class="form-label small">Enter bot response here</label>
              <quill-editor [(ngModel)]="htmlText" placeholder="Enter Text" name="quill" ngDefaultControl [modules]="quillConfig"
                #quill_editor="ngModel" required>
              </quill-editor>
              <div class="tiny mt-1">This will be shown to the user</div>
              <div *ngIf="quill_editor?.invalid && submitAttempt" class="text-danger small">
                <div *ngIf="quill_editor.errors.required">
                  Enter some text to be shown
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Actions</a>
        <ng-template ngbNavContent>
          <div class="w-50">
            <label class="form-label small">Select next node</label>
            <node-select [currentNodeName]="nodeName" [selectedNodeId]="tempNextNodeId"
              (onNextNodeSelect)="onNextNodeSelect($event)" (isNextNodeValid)="isNextNodeValid($event)"></node-select>
            <div class="tiny mt-1">This node will be executed when user clicks on current node</div>
          </div>
          <div class="form-group mt-2">
            <label class="check mb-1">
              <input type="checkbox" name="user_input" #user_input="ngModel" [(ngModel)]="expectsUserInput">
              <span class="small">Expect user input</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group mt-2">
            <label class="check mb-1">
              <input type="checkbox" name="show_typing" #show_typing="ngModel" [(ngModel)]="isShowTyping">
              <span class="small">Show "Typing..."</span>
              <span class="checkmark"></span>
            </label>
          </div>
          <div class="form-group custom-slider mt-2 mx-4" *ngIf="isShowTyping">
            <ngx-slider [(value)]="sliderValue" [options]="sliderOptions"></ngx-slider>
          </div>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav" class="mt-2"></div>

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('close')">Close</button>
    <button type="button" class="btn btn-primary" (click)="submitAttempt=true; textForm.valid && onSaveNode()">Save</button>
  </div>
</form>