$header-height: 60px;
.container-canvas {
  height: calc(100vh - #{$header-height});
}
.nav-link {
  color: white;
  margin: 3px;
  padding: 10px;
  margin-left: 15px;
}
.nav-item {
  border-bottom: 1px solid #444;
  display: block;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #444;
  }
  &.active {
    background-color: rgb(80, 79, 79);
  }
}
.header {
  height: $header-height;
  border-bottom: 1px solid #ccc;
}

.unsaved-changes {
  position: absolute;
  top: calc(#{$header-height} + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 30px 5px 30px;
}

.sidebar {
  width: 180px;
  padding: 0;
  min-height: 100vh;
  color: white;
}
.page-loader {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.zoom-container {
  display: flex;
  position: absolute;
  bottom: 20px;
  right: 20px;
  border: 1px solid #ccc;
  background-color: white;
  .zoom {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
  }
}

.secondary-menu {
  font-size: 12px;
  padding-left: 15px;
  .nav-link {
    padding: 4px;
  }
}
