$header-height: 60px;
.container-canvas {
  height: calc(100vh - #{$header-height});
}
.nav-link {
  color: black;
  margin: 3px;
  padding: 10px;
  font-size: 14px;
  margin-left: 15px;
}
.nav-item {
  border-bottom: 1px solid #e9ecef;
  display: block;
  width: 100%;
  cursor: pointer;
  &:hover {
    background-color: #e9ecef;
  }
}
.header {
  height: $header-height;
  border-bottom: 1px solid #ccc;
}

.unsaved-changes {
  position: absolute;
  top: calc(#{$header-height} + 10px);
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 0 30px 5px 30px;
}
