<div class="container-fluid p-0">
  <div class="row">
    <div class="col-auto">
      <div class="row flex-nowrap">
        <div class="col-auto bg-dark sidebar" *ngIf="!viewMode">
          <div class="d-flex flex-column align-items-center align-items-sm-start">
            <p class="text-center w-100 my-4 pointer" routerLink="/">LSQ Bot</p>
            <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100" id="menu">
              <li class="nav-item" (click)="changeTab('botEditor')" [class.active]="activeTab === 'botEditor'">
                <p class="nav-link px-0 align-middle">
                  <i class="fs-6 bi-diagram-3"></i> <span class="ms-2 d-none d-sm-inline">Bot Editor</span>
                </p>
              </li>
              <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start w-100 secondary-menu"
                id="menu">
                <li class="nav-item" (click)="openNodeModal('text')">
                  <p class="nav-link align-middle px-0">
                    <i class="fs-6 bi-card-text"></i> <span class="ms-2 d-none d-sm-inline">Text</span>
                  </p>
                </li>
                <li class="nav-item" (click)="openNodeModal('image')">
                  <p class="nav-link px-0 align-middle">
                    <i class="fs-6 bi-images"></i> <span class="ms-2 d-none d-sm-inline">Image</span>
                  </p>
                </li>
                <li class="nav-item" (click)="openNodeModal('video')">
                  <p class="nav-link px-0 align-middle">
                    <i class="fs-6 bi-play-btn"></i> <span class="ms-2 d-none d-sm-inline">Video</span>
                  </p>
                </li>
                <li class="nav-item" (click)="openNodeModal('document')">
                  <p class="nav-link px-0 align-middle">
                    <i class="fs-6 bi-file-earmark-text"></i> <span class="ms-2 d-none d-sm-inline">Document</span>
                  </p>
                </li>
                <li class="nav-item" (click)="openNodeModal('card')">
                  <p class="nav-link px-0 align-middle">
                    <i class="fs-6 bi-card-heading"></i> <span class="ms-2 d-none d-sm-inline">Interactive</span>
                  </p>
                </li>
                <li class="nav-item" (click)="openNodeModal('api')">
                  <p class="nav-link px-0 align-middle">
                    <i class="fs-6 bi-box-arrow-up-right"></i> <span class="ms-2 d-none d-sm-inline">API Response</span>
                  </p>
                </li>

              </ul>
              <li class="nav-item" (click)="changeTab('config')" [class.active]="activeTab === 'config'">
                <p class="nav-link px-0 align-middle">
                  <i class="fs-6 bi-gear"></i> <span class="ms-2 d-none d-sm-inline">Configurations</span>
                </p>
              </li>
            </ul>
            <hr>
          </div>
        </div>

      </div>
    </div>
    <div class="col g-0">
      <div class="header d-flex">
        <span class="align-self-center ms-3">{{botName}} </span>
        <div *ngIf="activeTab === 'botEditor'" class="actions ml-auto my-2 align-self-center pr-4 mr-4">
          <button *ngIf="viewMode" type="button" class="btn btn-sm btn-outline-dark mx-2" (click)="editBot()">Edit</button>
          <button type="button" class="btn btn-sm btn-outline-dark mx-2" (click)="saveBotWorkflow()">
            <span *ngIf="!saveButtonLoader;else loadingRef">Save</span>
          </button>
          <button type="button" class="btn btn-sm btn-outline-dark mx-2" (click)="saveBotWorkflow()">Publish</button>
          <button type="button" class="btn btn-sm btn-primary mx-2" (click)="openEmulator()">Test your bot</button>
        </div>
        <div *ngIf="activeTab === 'config'" class="actions ml-auto my-2 align-self-center pr-4 mr-4">
          <button type="button" class="btn btn-sm btn-primary mx-2" (click)="saveConfigurations()">Save Configurations</button>
          </div>
      </div>
      <div [class.visually-hidden]="loading">
        <div class="col" [class.visually-hidden]="activeTab === 'config'">
          <div class="container-canvas" appNgDrawFlow (onEditNode)="editNode($event)" (onDeleteNode)="deleteNode($event)"
            [viewMode]="viewMode">
          </div>
          <div *ngIf="unsavedChanges" class="unsaved-changes">
            <span class="tiny">You have unsaved changes.</span>
          </div>
          <div class="zoom-container">
            <div class="zoom zoom-in" (click)="zoomIn()">
              <i class="fs-6 bi-zoom-in"></i>
            </div>
            <div class="zoom zoom-in" (click)="zoomOut()">
              <i class="fs-6 bi-zoom-out"></i>
            </div>
            <div class="zoom zoom-in" (click)="zoomReset()">
              <i class="fs-6 bi-arrow-clockwise"></i>
            </div>
          </div>
        </div>
        <!-- configurations -->
        <div *ngIf="!loading && activeTab === 'config'">
          <form #textForm="ngForm">
            <div class="form-group m-4 w-75">
              <label class="form-label very-small">Session Timeout</label>
              <div class="d-flex">
                <div class="input-group">
                  <input type="text" class="form-control" name="timeout" placeholder="Session Timeout" value="Session Timeout" disabled>
                  <input type="text" class="form-control w-75" name="timeoutMsg" #timeout_msg="ngModel" [(ngModel)]="timeout"
                    placeholder="Your session has timed out">
                </div>
              </div>
            </div>
              <div class="form-group m-4 w-75">
                <label class="form-label very-small">API Errors</label>
                <div class="d-flex">
                  <div class="input-group">
                    <input type="text" class="form-control" name="timeout" placeholder="API Errors" value="API Errors" disabled>
                    <input type="text" class="form-control w-75" name="timeoutMsg" #timeout_msg="ngModel" [(ngModel)]="timeout"
                      placeholder="There was an error processing your request.">
                  </div>
                </div>
              </div>
              <div class="form-group m-4 w-75">
                <label class="form-label very-small">Default Message</label>
                <div class="d-flex">
                  <div class="input-group">
                    <input type="text" class="form-control" name="timeout" placeholder="Default Message" value="Default Message" disabled>
                    <input type="text" class="form-control w-75" name="timeoutMsg" #timeout_msg="ngModel" [(ngModel)]="timeout"
                      placeholder="Sorry, I could not understand.">
                  </div>
                </div>
              </div>
          </form>
        </div>
        </div>

      <div *ngIf="loading" class="page-loader">
        <ng-container *ngTemplateOutlet="loadingRef"></ng-container>
      </div>
    </div>
  </div>
</div>


<ng-template #loadingRef>
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</ng-template>
